/*
*
* COLORS
* 
*/

$k80-red: #DB0000;
$k80-text: #4a4a4a;
$k80-light-gray: #eee;

/*
*
* BREAKPOINTS
* 
*/
$tablet-portrait: "(min-width: 760px)";
$tablet-landscape: "(min-width: 1000px)";
$desktop-width: "(min-width: 1200px)";
$extra-wide: "(min-width: 2000px)";

/*
*
* FONTS
* 
*/

$heading-stack: 'Old Standard TT', serif;
$body-stack: "Open Sans", sans-serif;

/*
*
* Base Styles
*
*/

body {
  color: $k80-text;
  width: 95%;
  max-width: 800px;
  margin: 0 auto 4rem;
}

h2 {
  font-family: $heading-stack;
  font-size: 3em;
  font-weight: normal;
  margin: 2rem 0 1rem;
}

p, blockquote {
  font-family: $body-stack;
  line-height: 1.75rem;
}

a {
  color: $k80-red;
  text-decoration: none;
}

a:hover {
  box-shadow: 0 1px 0 0 $k80-red;
}