/*
*
* COLORS
* 
*/

$k80-red: #DB0000;
$k80-text: #4a4a4a;

/*
*
* BREAKPOINTS
* 
*/
$tablet-portrait: "(min-width: 760px)";
$tablet-landscape: "(min-width: 1000px)";
$desktop-width: "(min-width: 1200px)";
$extra-wide: "(min-width: 2000px)";

/*
*
* FONTS
* 
*/

$heading-stack: 'Old Standard TT', serif;
$body-stack: "Open Sans", sans-serif;
